/* fontface
   =============================================================================
*/

@import url(fontface.css);

/* base
   =============================================================================
*/

*, *:before, *:after { border: 0 solid; box-sizing: border-box; color: inherit; margin: 0; padding: 0; list-style: none; vertical-align: top; text-decoration: inherit; }

html {
	background:#333333;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	word-wrap: break-word;
}

subhead {
	display: block;
}

/* scaling
   =============================================================================
*/

.ui-feed { 
	width:1920px;
	height: 1080px;
	-webkit-transform-origin: 0 0;
	-webkit-transform:scale(1);
	-moz-transform-origin: 0 0;
	-moz-transform:scale(1);
}

.ui-feed.preview-notice .ui-slide:before {
	position: fixed;
	top:50px;
	right:130px;
	z-index: 9999999;
	display: block;
	color:red;
	content:"PREVIEW MODE";
	letter-spacing: 10px;
	font-size:72px;
	opacity: 0.3;
}

.ui-feed.preview-notice .ui-slide:after {
	position: fixed;
	top:130px;
	right:130px;
	z-index: 9999999;
	display: block;
	color:red;
	content:"Must run with Chrome at 1920x1080 for TV displays";
	letter-spacing: 0px;
	font-size:32px;
	opacity: 0.3;
}

.ui-feed.preview-notice .ui-slide--right:before { right:auto; }
.ui-feed.preview-notice .ui-slide--right:after { right:auto; }

/* ui-head
   =============================================================================
*/

.ui-feed { 
	bottom: 0;
	font: 100%/1 sans-serif;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.ui-feed {
	background-color: rgba(236,235,229,1);
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}


/* ui-head
   =============================================================================
*/

.ui-head {
	color: #FFF;
	display: table;
	bottom: 54px;
	height: 124px;
	line-height: 1;
	padding: 30px 26px;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.ui-head {
	background-color: rgba(152,30,50,0.85);
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.3);
}

.ui-head > * {
	display: table-cell;
	vertical-align: middle;
}

/* ui-logo
   =============================================================================
*/

.ui-logo {
	content: url(../img/logo-chapman.svg);
	height: 64px;
	margin-right: 14px;
	width: 280px;
}

/* ui-locality
   =============================================================================
*/

.ui-location-name, .ui-location-time {
	display: block;
	margin-right: 56px;
	white-space: nowrap;
}

.ui-location-name {
	font-size: 30px;
	font-family: "Futura Bold";
	text-transform: uppercase;
}

.ui-location-time {
	font-size: 20px;
	font-family: "Futura Light";
}

.ui-location-name + .ui-location-time {
	margin-top: 4px;
}

/* ui-nav
   =============================================================================
*/

.ui-menu {
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.ui-menu-list {
	font-size: 0;
	margin-top: -12px;
	position: absolute;
	right: 0;
	top: 50%;
	transition: -webkit-transform 750ms;
	white-space: nowrap;
}

.ui-resizing .ui-menu-list {
	transition: -webkit-transform 0ms;
}

.ui-menu-item, .ui-menu-caret {
	display: inline-block;
	font: 16px/1 "Rooney Sans", sans-serif;
	height: 32px;
	text-align: center;
	overflow: hidden;
	padding: 8px 32px;
	position: relative;
	transition: color 400ms 100ms, text-shadow 500ms;
}

.ui-resizing .ui-menu-item, .ui-resizing .ui-menu-caret {
	transition: color 0ms;
}

.ui-menu-item {
	box-shadow: 0 -2px 0 0 #FFF;
}

.ui-menu-item--active {
	color: rgba(168, 36, 57, 1);
	text-shadow: 0 0 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1);
}

.ui-menu-caret {
	background-color: rgba(255,255,255,1);
	border-radius: 0 0 4px 4px;
	padding: 0;
	transition: background-color 750ms, width 750ms, -webkit-transform 750ms;
	top: 4px;
	width: 0;
}

.ui-resizing .ui-menu-caret {
	transition: background-color 0ms, width 0ms, -webkit-transform 0ms;
}

/* slide
   =============================================================================
*/

@-webkit-keyframes fade-out {
	0%   { opacity: 1; z-index: 1; }
	100% { opacity: 1; z-index: 1; }
}

@-webkit-keyframes fade-in {
	0%    { opacity: 0; }
	100%  { opacity: 1; }
}

@-webkit-keyframes pop-in {
	0%    { -webkit-transform: translate3d(-100%, 0, 0); }
	100%  { -webkit-transform: translate3d(0%, 0, 0); }
}

.ui-slide {
	-webkit-animation: fade-out 500ms;
	bottom: 0;
	font-size: 20px;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
	overflow: hidden;
}

.ui-slide--active {
	-webkit-animation: fade-in 500ms;
	opacity: 1;
	z-index: 2;
}

.ui-slide-heading, .ui-slide-subheading {
	text-indent: -0.05em;
}

.ui-slide-heading {
	font: 68px/1.25 "Futura Bold";
	letter-spacing: -0.05em;
}

.ui-slide-subheading {
	font: 40px/1 "Futura Bold";
	margin-bottom: 1em;
	text-transform: uppercase;
}

.ui-slide-content {
	font: 20px/1.5 "Rooney Sans";
}

.ui-slide-organizer {
	bottom: 170px;
	font: 16px/1 "Futura Bold", sans-serif;
	height: 40px;
	left: 0;
	padding: 12px 54px;
	position: absolute;
	margin-bottom: 1em;
}

.ui-slide-organizer {
	background-color: rgba(53, 52, 48, 0.75);
	border-radius: 0 3px 3px 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
	color: rgba(255,255,255,1);
	text-shadow: none;
}

.ui-slide--active .ui-slide-organizer {
	-webkit-animation: pop-in 750ms ease-out;
}

.ui-slide-organizer-icon {
	fill: #FFF;
	height: 1.5em;
	margin: -0.275em 0 0 0.25em;
	vertical-align: top;
	width: 1.5em;
}

.ui-slide-background {
	background: transparent none no-repeat 50% 50%;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.ui-slide-foreground {
	background: transparent none no-repeat 50% 50%;
	background-size: contain;
	bottom: 0;
	height: 100%;
	position: absolute;
	top: 0;
	max-width: 47.5%;
	z-index: -1;
}

*[data-sizing="fill"] {
	background-size: cover;
}

*[data-sizing="absolute"] {
	background-position-y: 120px;
	background-size: initial;
}

/* slide: standard
   =============================================================================
*/

.ui-slide--standard {
	padding: 120px 140px 20px 140px;
}

.ui-slide--standard .ui-slide-datetime {
	font: 32px/1.25 "Rooney Sans Bold";
}

.ui-slide--standard .ui-slide-location {
	font: italic 28px/1.25 "Rooney Sans";
}

.ui-slide--standard .ui-slide-content {
	font-size: 24px;
	margin-top: 2em;
	max-width: 30em;
}

.ui-slide--standard .ui-slide-content p {
	margin-top: 1.25em;
}

/* slide: left
   =============================================================================
*/

.ui-slide--left .ui-slide-body {
	float: left;
	max-width: 47.5%;
}

.ui-slide--left .ui-slide-foreground {
	right: 0;
}


/* slide: right
   =============================================================================
*/

.ui-slide--right .ui-slide-body {
	float: right;
	max-width: 47.5%;
}

.ui-slide--right .ui-slide-foreground {
	left: 0;
}

/* slide: light
   =============================================================================
*/

.ui-slide--light {
	background-color: rgba(236,235,229,1);
	color: rgba(2,2,2,1);
	text-shadow: 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1), 0 0 2px rgba(255,255,255,1), 0 0 2px rgba(255,255,255,1), 0 0 6px rgba(255,255,255,0.75);
}

.ui-slide--light .ui-slide-subheading {
	color: rgba(90,90,90,1);
}

.ui-slide--light .ui-event {
	background-color: rgba(255,255,255,1);
}

/* slide: dark
   =============================================================================
*/

.ui-slide--dark {
	background-color: rgba(20,20,20,1);
	color: rgba(253,253,253,1);
	text-shadow: 0 1px 0 rgba(0,0,0,1),
	             0 1px 1px rgba(0,0,0,1),
	             0 0 1px rgba(0,0,0,1),
	             0 0 2px rgba(0,0,0,1),
	             0 0 2px rgba(0,0,0,1),
	             0 0 4px rgba(0,0,0,0.75),
	             0 0 3px rgba(0,0,0,0.75),
	             0 0 2px rgba(0,0,0,0.75),
	             0 0 1px rgba(0,0,0,0.75);
}

.ui-slide--dark .ui-slide-subheading {
	color: rgba(98,98,98,1);
}

.ui-slide--dark .ui-event {
	background-color: rgba(25,25,25,1);
}

/* slide: schedule
   =============================================================================
*/

.ui-slide--schedule {
	padding: 60px 140px 20px 140px;
}

.ui-slide--schedule .ui-slide-heading + .ui-slide-subheading {
	margin-top: -0.25em;
}

.ui-event {
	display: flex;
	font-family: "Rooney Sans";
	margin: 0 0 10px;
	padding: 20px;
}

.ui-event-time {
	order: 1;
	padding-right: 20px;
	width: 10%;
}

.ui-event-date {
	order: 2;
	padding-right: 20px;
	width: 15%;
}

.ui-event-body {
	max-height: 105px;
	order: 3;
	overflow: hidden;
	padding-right: 100px;
	width: 55%;
}

.ui-event-name {
	font-family: "Futura Bold";
	font-size: 24px;
	margin-top: -0.125em;
}

.ui-event-image {
	float: left;
	height: 100%;
	margin-right: 15px;
}

.ui-event-admission {
	order: 4;
	padding-right: 20px;
	font-style: italic;
	width: 10%;
}

.ui-event-audience {
	order: 5;
	font-style: italic;
	width: 10%;
}

.ui-event-icon {
	fill: #FFF;
	height: 1em;
	margin-top: 0.125em;
	width: 1em;
}

/* slide: directory
   =============================================================================
*/

.ui-slide--directory {
	padding: 60px 140px 20px 140px;
}

.ui-slide--directory .ui-slide-collection {
	font-size: 0;
	max-height: 620px;
	overflow: hidden;
}

.ui-slide--directory .ui-slide-collection-inset {
	transition: -webkit-transform 1.5s ease-in-out;
}

.ui-member {
	display: inline-block;
	font: 20px/1.25 "Futura LT";
	height: 125px;
	padding: 0 20px 30px 80px;
	position: relative;
	white-space: nowrap;
	width: 25%;
}

.ui-member-image {
	border-radius: 50%;
	left: 0;
	height: 60px;
	position: absolute;
	width: 60px;
}

.ui-member-name {
	font-family: "Futura LT";
	letter-spacing: -0.05em;
}

.ui-member-name, .ui-member-location, .ui-member-email {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* slide: emergency
*/

.ui-slide--notification, .ui-slide--emergency {
	-webkit-animation: fade-in 50ms;
	opacity: 1;
	padding: 120px 140px 20px 140px;
	text-align: center;
	z-index: 11;
}

.ui-slide--notification {
	background-color: rgba(46, 47, 48, 0.95);
	background-image: url(../img/bg-notification.png);
}

.ui-slide--emergency {
	background: url(../img/bg-emergency.png);
	background-color: rgba(152,30,50,0.95);
	text-shadow: 0 0 5px rgba(0,0,0,1), 0 -5px 5px rgba(0,0,0,1);
}

.ui-slide--notification .ui-slide-heading, .ui-slide--emergency .ui-slide-heading {
	font-size: 400%;
}

.ui-slide--notification .ui-slide-content, .ui-slide--emergency .ui-slide-content {
	font-size: 200%;
}
