<article class="ui-slide ui-slide--directory ui-slide--dark ui-slide--{{ index === i ? 'active' : 'inactive' }}">
	<h1 class="ui-slide-heading">{{heading}}</h1>
	<subhead class="ui-slide-subheading">{{subheading}}</subhead>

	<div class="ui-slide-collection">
		{{#collection}}
		<article class="ui-member">
			<img class="ui-member-image" src="{{image}}">
			<h1 class="ui-member-name">{{name}}</h1>
			<p class="ui-member-location">{{location}}</p>
			<p class="ui-member-email">{{email}}</p>
		</article>
		{{/collection}}
	</div>

	<footer class="ui-slide-organizer"><img class="ui-slide-organizer-icon" src="/digital-signage/_files/img/icon-{{organizerId}}.svg"/> {{organizer}}</footer>
</article>